@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'valorant';
  src: url('../public//font//Valorant.ttf');
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #1f2937;
}

input {
  @apply focus:outline-none;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #1f2937;
}
*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* carousel dots style // home */
.carousel-dots button::before {
  color: white !important;
}

.carousel-dots li.carousel-dots-active button:before {
  color: white;
}
